.sub {
    background-color:red;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    
}


.container {
    background-color:gray;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    height: 100vh;
    
}




