:root{
    --base:blue;
    --spacing:1em;
    --blus:1em;
}

body{
    background-color: gray;
}



.container {
    background-color:gray;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height: 100vh;
    
}


.sub {
    /*background-image: url('blackwood2.jpg');*/
    background-color:yellow;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height:25em;
    width:50%;
    padding: var(--spacing);
    /*background:var(--base);*/
    filter: blur(var(--blur));
    
}

img{
    height:90%;
}
